# Ensemble (voting)

In [1]:
import os
os.chdir('C:\\Users\\35192\\Desktop\\si\\src')
from si.data import Dataset
from si.util.util import summary
from si.util.cv import CrossValidationScore

In [2]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
vars,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [3]:
dataset.toDataframe()

       A    B    C    D    E     F    G    H    I    Y
0    8.0  4.0  4.0  1.0  2.0   9.0  3.0  3.0  1.0  1.0
1    5.0  1.0  1.0  3.0  2.0   1.0  1.0  1.0  1.0  0.0
2    2.0  1.0  1.0  1.0  3.0   1.0  2.0  1.0  1.0  0.0
3    2.0  1.0  1.0  1.0  2.0   1.0  3.0  1.0  1.0  0.0
4    9.0  5.0  8.0  1.0  2.0   3.0  2.0  1.0  5.0  1.0
..   ...  ...  ...  ...  ...   ...  ...  ...  ...  ...
694  1.0  1.0  1.0  1.0  4.0   3.0  1.0  1.0  1.0  0.0
695  5.0  3.0  1.0  2.0  2.0   1.0  2.0  1.0  1.0  0.0
696  5.0  2.0  2.0  2.0  2.0   1.0  1.0  1.0  2.0  0.0
697  2.0  3.0  2.0  2.0  2.0   2.0  3.0  1.0  1.0  0.0
698  7.0  6.0  6.0  3.0  2.0  10.0  7.0  1.0  1.0  1.0

[699 rows x 10 columns]

In [4]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [5]:
from si.supervised.dt import DecisionTree

In [6]:
dt = DecisionTree()

In [7]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.951699     0.942857
1      0.962433     0.928571
2      0.935599     0.935714

### Logistic regression

In [8]:
from si.supervised.logreg import LogisticRegression
logreg = LogisticRegression()

In [9]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.898032     0.871429
1      0.892665     0.892857
2      0.887299     0.885714

### KNN

In [10]:
from si.supervised.KNN import KNN

In [11]:
knn = KNN(7)

In [12]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.973166     0.950000
1      0.978533     0.935714
2      0.976744     0.964286

## Ensemble

In [13]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [14]:
from si.supervised.ensemble import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [15]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.960644     0.928571
1      0.967800     0.942857
2      0.953488     0.964286